.orderitem {
  margin-bottom: 1em;
  border-radius: 0.3em;
  box-shadow: 2px 2px 3px 1px #919191;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  flex: 1 1 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5em;
}

.count {
  flex: 1 1 5%;
  text-align: center;
}

.price {
  flex: 1 1 20%;
  text-align: center;
}

.closeButton {
  border-radius: 0 0.5em 0.5em 0;
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  font-weight: bold;
  background: #fcf4df;
  color: #fac63f;
  border: 0;
  outline: none;
  transition: all 0.1s ease-in;
}
