.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.orderList {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.result {
  width: 100%;
  padding: 1em;
  font-size: 1.3em;
}

.result div {
  display: flex;
  justify-content: space-between;
  margin: 0.3em 0;
}

.payButton {
  width: 80%;
  height: 10%;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcf4df;
  border-radius: 0.5em;
  text-align: center;
  font-size: 2em;
  transition: all 0.1s ease-in;
}
