.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
  margin-bottom: 3em;
}

.starWrapper {
  height: 2em;
}

.starGray,
.starColor {
  width: 10em;
}

.starColorWrapper {
  transform: translateY(-100%);
  max-width: 10em;
  overflow: hidden;
}

.menuWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  overflow: hidden;
  white-space: nowrap;
}
.name {
  height: 2em;
  border-radius: 30px;
  background: white;
  padding: 0.3em;
}
