.menu {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  background: #e5e5e5;
  transition: all 0.1s ease-in;
}

.image {
  width: 60%;
  height: 60%;
}

.name {
  margin: 1em 0;
}

.price {
  color: #21bb1e;
}
