@value buttonYellow from  '../../common/colors.css';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  color: black;
}

.stepWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.imgWrapper {
  background: white;
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 2px 2px 3px 1px #919191;
  text-align: center;
}
.stepnum {
  position: absolute;
  transform: scale(0.8) translate(-4em, -4em);
}
.imgWrapper h1 {
  margin-top: 1em;
}
.textWrapper {
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
}
.textWrapper p {
  margin: 0;
}

.startButton {
  width: 60%;
  background: buttonYellow;
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px 1px #919191;
  text-align: center;
  transition: all 0.1s ease-in;
}
.upperDescription {
  margin: 0.5em;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em;
}
.lowerDescription {
  margin: 0.5em;
  color: white;
  font-size: 1.5em;
}
