.menus {
  width: 100%;
  height: 100%;
  padding-top: 2em;
}

.menuWrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  flex-wrap: wrap;
  /*align-items: center;*/
  column-gap: 5%;
}
