.payment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px 1px #919191;
  background: white;
}

.header {
  background: #fcf4df;
  height: 5em;
  line-height: 5em;
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.sectionWrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.warningText {
  margin: 0.3em;
  color: #ff5f5f;
}

.text {
  width: 20em;
  height: 3em;
  line-height: 3em;
  background: #e9eff2;
  border-radius: 0.5em;
  text-align: center;
  font-size: 2em;
}
